body{

    background: blueviolet;
    width: 600px;
    margin: auto;
}

#title, .subtitle, .post_title{

color: blue;

}

.post_title{
    font-size: 16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post{

    background: chartreuse;
    padding: 12px;
    border: 5px solid beige;
    border-top: 8px dotted red;
    border-right: 12px dashed white;
    margin: auto orange;
    width: min-content;
}

.post_content{
margin: 0px;
margin-bottom: 15px;

}

.photo{

    width: 500px;
    height: 500px;

}

.subtitle{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
text-transform: uppercase;

}